body {
    background-color: wheat;
    
}

h1 {
    color: blue;
    text-align: center;
    font-family: 'Lora', serif;
    font-family: 'Zen Antique', serif;
}

.h2styles {
    display: none;
}

#ulstyles {
    line-height: ;
}
